[submodule "ics-openvpn"]
	path = ics-openvpn
	url = https://github.com/LibreGuard-Developer/ics-openvpn-libreguard.git
	branch = master
[submodule "strongswan"]
	path = strongswan
	url = https://github.com/LibreGuard-Developer/strongswan-android-libreguard.git
	branch = master
