[submodule "strongswan"]
	path = strongswan
	url = https://github.com/strongswan/strongswan.git
[submodule "ics-openvpn"]
	path = ics-openvpn
	url = https://github.com/MareM010/libreguard-ics-openvpn.git
	branch = libreguard-integration
